@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap");

/* Variables */
// colors
$light-pink: #f2e6ea;
$dark-pink: #e3abc0;
$boba-brown: #674c47;
$white: #ffffff;
$black: #2a3439;
$grey: #708090;
$light-grey: #ccd1d7;

// spacing
$spacing-0_5x: 4px;
$spacing-1x: 8px;
$spacing-2x: 16px;
$spacing-3x: 24px;
$spacing-4x: 32px;
$spacing-6x: 48px;
$spacing-8x: 64px;
$spacng-12x: 96px;

$max-width: 900px;

// z-indexes
$z-index-navigation: 10;

// fonts
$font-size-sm: 13px;
$font-size-md: 16px;
$font-size-lg: 24px;
$font-size-xl: 40px;
$font-size-2xl: 64px;

$h1-font-family: "Fredoka", sans-serif;
$h1-color: $black;
$h1-font-weight: 500;
$h1-size-mobile: $font-size-lg;
$h1-size-desktop: $font-size-2xl;

$h2-font-family: "Fredoka", sans-serif;
$h2-color: $black;
$h2-font-weight: 500;
$h2-size-mobile: $font-size-lg;
$h2-size-desktop: $font-size-xl;

$h4-font-family: "Fredoka", sans-serif;
$h4-color: $black;
$h4-font-weight: 500;
$h4-size-mobile: $font-size-md;
$h4-size-desktop: $font-size-lg;

$small-font-family: "Poppins", sans-serif;
$small-color: $black;
$small-font-weight: 400;
$small-size-mobile: $font-size-sm;
$small-size-desktop: $font-size-md;

// breakpoints
$mobile: 660;

/* Mixins */
@mixin max-width($breakpoint) {
  @media (max-width: ($breakpoint+"px")) {
    @content;
  }
}

@mixin min-width($breakpoint) {
  @media (min-width: ($breakpoint+1+"px")) {
    @content;
  }
}

/* Animations */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideY {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}

/* Body */
h2 {
  font-family: $h2-font-family;
  font-weight: $h2-font-weight;
  color: $h2-color;
  margin: $spacing-2x 0;
  text-align: center;
  margin: $spacng-12x 0;

  @include max-width($mobile) {
    font-size: $h2-size-mobile;
  }
  @include min-width($mobile) {
    font-size: $h2-size-desktop;
  }
}

h4 {
  font-family: $h4-font-family;
  font-weight: $h4-font-weight;
  color: $h4-color;
  margin: $spacing-2x 0;
  @include max-width($mobile) {
    font-size: $h4-size-mobile;
    text-align: center;
  }
  @include min-width($mobile) {
    font-size: $h4-size-desktop;
  }
}

small {
  font-family: $small-font-family;
  font-weight: $small-font-weight;
  color: $small-color;
  margin: $spacing-2x 0;
  display: block;
  @include max-width($mobile) {
    font-size: $small-size-mobile;
    text-align: center;
  }
  @include min-width($mobile) {
    font-size: $small-size-desktop;
  }
}

svg {
  stroke: $black;
}

*:focus-visible {
  outline: 3px solid $light-grey;
}


.section {
  max-width: $max-width;
  margin: auto;
  padding: 0 $spacing-2x;
}

/* buttons */
button.button--plain {
  background: none;
  border: none;
  cursor: pointer;
}

/* forms */
form {
  display: grid;
  gap: $spacing-1x;
}

input,
textarea,
select {
  border-radius: $spacing-1x;
  border: 1px solid $grey;
  padding: $spacing-0_5x $spacing-1x;
  font-family: $small-font-family;
  font-weight: $small-font-weight;
  font-size: $font-size-sm;
  outline-color: rgba(0, 0, 0, 0);
  background: white;

  &::placeholder {
    color: $grey;
  }
}
select {
  width: 100%;
}

button {
  background: $black;
  border-radius: $spacing-1x;
  border: none;
  color: $white;
  padding: $spacing-0_5x;
}

/* Navigation */
#nav {
  z-index: 2;
  transition: all 0.2s;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;

  & a {
    text-decoration: none;
    color: $black;
    position: relative;
    transition: all 0.2s;
    &:hover,
    &.current {
      color: $dark-pink;
    }
  }

  & ul {
    margin: 0;
    padding: 0;
    display: inline-block;

    & li {
      display: inline-block;
    }
  }

  // mobile only styles
  @include max-width($mobile) {
    & .nav-container {
      z-index: $z-index-navigation;
      grid-template-areas: "menu" "nav-footer";
      grid-template-rows: 1fr auto;
      gap: $spacing-8x;
      position: fixed;
      top: 0px;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      font-size: $font-size-lg;
      overflow: auto;

      display: none;

      &-enter-active {
        display: grid;
        animation: fade 0.5s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        & .menu-links,
        & .footer .contact {
          animation: slideY 0.5s;
          animation-fill-mode: forwards;
          animation-timing-function: ease;
        }
      }
      &-enter-done {
        display: grid;
      }
      &-exit-active {
        display: grid;
        animation: fade 0.5s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-direction: reverse;
        overflow: hidden;

        & .menu-links,
        & .footer .contact {
          animation: slideY 0.5s;
          animation-fill-mode: forwards;
          animation-timing-function: ease;
          animation-direction: reverse;
        }
      }
      &-exit-done {
        display: none;
      }
    }

    & ul {
      display: grid;
      gap: $spacing-3x;
      padding: $spacing-8x $spacing-6x 0;

      & li:before {
        margin-right: 10px;
        content: "/";
      }
    }

    // navigation menu icon styles
    // icon toggles between hamburger and close icons
    .nav-toggle {
      z-index: $z-index-navigation + 1;
      position: fixed;
      top: $spacing-2x;
      right: $spacing-2x;

      // initial path and animation attributes in case path attribute is supported by browser
      @supports (d: path("M 5.75 5.75 L 21.25 21.25")) {
        & .hamburger-icon,
        & .icon-hamburger_svg__top-line,
        & .icon-hamburger_svg__bottom-line,
        & .icon-hamburger_svg__middle-line {
          transition: 0.5s ease-in-out;
        }
        & .icon-hamburger_svg__top-line {
          d: path("M 2 6.5 L 24 6.5");
        }
        & .icon-hamburger_svg__bottom-line {
          d: path("M 24 20.5 L 2 20.5");
        }
      }

      // menu open state
      &.is-open {
        // transform hamburger icon -> close icon if path attribute is supported by browser
        @supports (d: path("M 5.75 5.75 L 21.25 21.25")) {
          & .icon-hamburger_svg__top-line {
            d: path("M 5.75 5.75 L 21.25 21.25");
          }
          & .icon-hamburger_svg__bottom-line {
            d: path("M 21.25 5.75 L 5.75 21.25");
          }
          & .icon-hamburger_svg__middle-line {
            stroke: rgba(0, 0, 0, 0);
          }
        }
        // if path is not supported then fade out the hamburger icon and fade in the close icon
        @supports not (d: path("M 5.75 5.75 L 21.25 21.25")) {
          & .hamburger-icon {
            opacity: 0;
          }
          & .close-icon--safari-polyfill {
            transform: rotate(-90deg);
            opacity: 1;
          }
        }
      }
      // close icon only displayed if css path attribute not supported by the browser
      .close-icon--safari-polyfill {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s;
        opacity: 0;
      }
    }

    & .social-links {
      display: none;
    }
  }

  // desktop only styles
  @include min-width($mobile) {
    position: sticky;
    left: 0;
    right: 0;
    top: 0px;
    padding: 5px 15px;
    font-size: $font-size-md;

    & .nav-container {
      display: grid;
      grid-template-areas: "menu social";
      grid-template-columns: max-content auto;
      justify-content: space-between;
      gap: $spacing-8x;
      height: $font-size-lg;
      overflow: hidden;

      .social-links {
        text-align: right;
      }
    }

    & ul li {
      &:before {
        margin: 0 10px;
        content: "/";
      }

      &:first-child {
        &:before {
          display: none;
        }
      }
    }

    & .footer,
    & .nav-toggle__container {
      display: none;
    }
  }

  & .menu-links {
    grid-area: menu;
  }

  & .social-links {
    grid-area: social;
  }

  & .footer {
    grid-area: nav-footer;
  }
}

/* Footer */
.contact-background {
  background: $light-pink;
}
.contact {
  display: grid;
  grid-template-areas: "contact-email contact-socials contact-archives" "contact-footer contact-footer contact-footer";
  row-gap: $spacing-8x;
  column-gap: $spacing-4x;
  justify-content: space-between;
  padding: $spacing-8x $spacing-4x;
  max-width: $max-width;
  margin: auto;
}

.email-cell {
  grid-area: contact-email;
}
.socials-cell {
  grid-area: contact-socials;
}
.archive-cell {
  grid-area: contact-archives;
}
.contactbottom {
  grid-area: contact-footer;
  text-align: center;
}

.socialicons {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: $spacing-1x;
}

.contact .hidden {
  opacity: 0;
  max-height: 0 !important;
  max-width: 0 !important;
}

// mobile only styles
@include max-width($mobile) {
  .contact {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "contact-email" "contact-socials" "contact-archives" "contact-footer";
    justify-content: stretch;
    gap: $spacing-2x;
    padding: $spacing-3x $spacing-1x;
  }
  .socialicons {
    justify-content: center;

    & img {
      height: $spacing-4x;
    }
  }
}

// desktop only styles
@include min-width($mobile) {
  .socialicons {
    justify-content: center;

    & img {
      height: $spacing-6x;
    }
  }
}

/* Hero Banner */
#about {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about h1 {
  font-family: $h1-font-family;
  font-weight: $h1-font-weight;
  color: $h1-color;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  @include max-width($mobile) {
    font-size: $h1-size-mobile;
  }
  @include min-width($mobile) {
    font-size: $h1-size-desktop;
  }
}

/* Clients */

#clients {
  text-align: center;
  padding: $spacing-4x;

  @include max-width($mobile) {
    white-space: pre;
    display: flex;
    overflow: scroll;
  }
}

#clients .logo {
  height: $spacing-6x;
  margin: 15px;
}

/* Skills */
#skills svg {
  font-family: "Roboto Mono", monospace;
}
// #skills {
//   padding: 100px 0;
//   position: relative;
// }

// #skills h1 {
//   display: inline-block;
// }

// #skills ul {
//   display: flex;
//   flex-flow: row wrap;
//   list-style-type: none;
// }

// #skills .recommended-reading__container {
//   max-width: 60vw;
// }

// #skills .recommended-reading__container ul {
//   display: block;
// }

// #skills .recommended-reading__container ul li {
//   list-style-type: emoji-list;
// }

// @counter-style emoji-list {
//   system: cyclic;
//   symbols: 🌱 🌸 ✨ 💖 ☁️ 🐻 🔮 🐨 🌻 ⭐;
//   suffix: " ";
// }

// .skill-list {
//   width: 60vw;
//   display: flex;
//   flex-flow: column;
//   align-items: center;
// }

// .skill-card {
//   font-weight: bold;
//   font-size: 24px;
//   transition: all 0.25s;
// }

// .skill-card__sprout::after {
//   content: "🌱";
//   position: absolute;
//   top: 15px;
//   right: 15px;
// }

// .skill-card__container {
//   height: 250px;
//   width: 200px;
//   transition: all 0.5s;
// }

// .skill-card__container:hover {
//   transform: scale(1.1);
//   cursor: pointer;
// }

// #recommended-reading {
//   width: 100%;
// }

/* OLD STYLES */
body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
}

a {
  color: black;
}

.startbutton {
  text-align: center;
  color: lightgrey;
}

.startbutton:hover {
  color: grey;
  cursor: pointer;
}

#blogs {
  text-align: center;
  padding: 30px;
  min-height: calc(100vh);
  display: flex;
  justify-content: center;
  background: repeating-linear-gradient(
      to right,
      white 0px,
      white 2px,
      rgba(255, 255, 255, 0) 2px,
      rgba(255, 255, 255, 0) 70px
    ),
    repeating-linear-gradient(to bottom, white 0px, white 2px, rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0) 70px),
    repeating-linear-gradient(#fef4f1 0, #fef4f1 100px);
  background-size: 70px 70px;
  /* animation: diagonalScroll 3s infinite linear; */
}

#blogs .blogs-inner {
  margin: 100px 0;
}

#blogs ul {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
}

#blogs ul li {
  margin: 15px;
}

#projectswrapper {
  position: relative;
}

/* #projectswrapper:before {
    content: "";
    height: 100px;
    width: 100%;
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    background: radial-gradient(circle at 50% 100%, white 50%, transparent 51%);
    background-size: 100px 100px;
    background-repeat: repeat-x;
  } */

/* #projectswrapper:after {
    content: "";
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    background: radial-gradient(circle at 50% 0%, white 50%, transparent 51%);
    background-size: 100px 100px;
    background-repeat: repeat-x;
    z-index: 1;
  } */

#projectswrapper h1 {
  text-align: center;
  padding: 75px;
}

.projects-scroll-wrapper {
  overflow: hidden;
  padding-bottom: 100px;
}

.projectswrapper--inner {
  padding: 0px 20vw;
  width: 60vw;
}

#projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

#projects .project {
  height: 275px;
  width: 275px;
  position: relative;
  cursor: pointer;
  margin: 30px;
}

#projects a .project {
  color: black;
}

#projects .project h1 {
  width: 225px;
  padding: inherit;
}

#projects .desktop {
  height: 155px;
  width: 225px;
  background-color: lightgrey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.25);
}

#projects .desktop .screen {
  background-color: white;
  position: absolute;
  top: 20px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  background-size: cover;
  background-position: top center;
}

#projects .mobile {
  height: 125px;
  width: 65px;
  border-radius: 10px;
  background-color: lightgrey;
  position: absolute;
  top: 75px;
  left: 200px;
  z-index: 1;
  box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.25);
}

#projects .mobile .screen {
  background-color: white;
  position: absolute;
  top: 15px;
  left: 2px;
  right: 2px;
  bottom: 15px;
  background-size: cover;
  background-position: top center;
}

#project {
  width: 60vw;
}

#project img {
  max-width: 100%;
}

#project h1 {
  text-align: left;
  padding: unset;
}

/** COMPONENTS **/
.card {
  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: inline-block;
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel__container {
  width: 99vw;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: all 0.5s;
}

.carousel.shifted {
  transform: translateX(-100vw);
}

.carousel__page {
  text-align: left;
  align-self: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
}

/*** MINI GAME ***/
.game {
  background-color: white;
  position: relative;
  /*width: 100%; height: 300px;*/
  height: 100px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  transition: linear 0.2s;
}

.howtoplay {
  position: absolute;
  font-family: monospace;
  display: none;
}

.gameover {
  position: absolute;
  display: none;
  font-family: monospace;
}

.gameinfo {
  position: absolute;
  right: 10px;
  font-family: monospace;
  display: none;
}

.player {
  position: absolute;
  bottom: 0;
  left: 40px;
  background-color: lightgrey;
}

.screen {
  background-color: white;
  position: absolute;
}

.mobi {
  transition: linear 0.2s;
  height: 100px;
  width: 60px;
  border-radius: 10px;
}

.mobi:before {
  content: "";
  background-color: white;
  height: 3px;
  width: 20px;
  border-radius: 5px;
  position: absolute;
  top: 6px;
  left: calc(50% - 10px);
}

.mobi:after {
  content: "";
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  position: absolute;
  left: calc(50% - 5px);
  top: 88px;
}

.mobi .screen {
  transition: linear 0.2s;
  background-color: white;
  height: 70px;
  width: 50px;
  left: 5px;
  top: 15px;
}

.desk {
  transition: linear 0.2s;
  height: 200px;
  width: 300px;
  border-radius: 10px;
}

.desk:before {
  content: "";
  background-image: url("http://i.imgur.com/Y4iD7dX.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  position: absolute;
  top: 7px;
  left: 7px;
}

.desk .screen {
  transition: linear 0.2s;
  background-color: white;
  height: 165px;
  width: 288px;
  left: 5px;
  top: 25px;
}

@keyframes mobiwalk {
  0% {
    transform: rtatez(0deg) translate(0px, 0px);
  }

  33% {
    transform: rotatez(-5deg) translate(0px, -10px);
  }

  66% {
    transform: rotatez(5deg) translate(0px, 0px);
  }

  100% {
    transform: rotatez(0deg);
  }
}

@keyframes deskwalk {
  0% {
    transform: rtatez(0deg) translate(0px, 0px);
  }

  33% {
    transform: rotatez(-2deg) translate(0px, -15px);
  }

  66% {
    transform: rotatez(2deg) translate(0px, 0px);
  }

  100% {
    transform: rotatez(0deg);
  }
}

@keyframes diagonalScroll {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 70px -70px;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100vw);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0);
  }
}

.scenery {
  position: absolute;
  height: 100%;
  width: 10000px;
  left: 0px;
}

.coin {
  position: absolute;
  background-color: goldenrod;
  height: 25px;
  width: 25px;
  border-radius: 25px;
}

.obstacle {
  position: absolute;
  background-color: red;
  height: 25px;
  width: 25px;
  border-radius: 25px;
}

.end {
  position: absolute;
  bottom: 0px;
  left: 1000px;
  height: 100px;
  width: 20px;
  background-color: red;
}

@media only screen and (max-width: 600px) {
  #skills ul {
    flex-flow: row nowrap;
  }

  #skills ul li:last-child {
    padding-right: 30px;
  }

  .skill-list__container {
    width: 100vw;
    overflow: auto;
  }

  #skills .recommended-reading__container .card,
  #projectswrapper .card {
    border: 0;
    box-shadow: none;
  }
}
